services:
  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: "studs"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
    ports:
      - "5433:5432"
    networks:
      - web-network
    volumes:
      - postgres-data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2025-01-18T00-31-37Z
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "user"
      MINIO_ROOT_PASSWORD: "password"
    volumes:
      - minio-storage:/data
    networks:
      - web-network

  spring:
    build:
      context: .
      dockerfile: Dockerfile-smeshariki
    ports:
      - "8081:8081"
    networks:
      - web-network
    depends_on:
      - postgres
      - minio


networks:
  web-network:
    driver: bridge

volumes:
  postgres-data: { }
  minio-storage: { }
