services:
  postgres:
    image: postgres:13.3
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-studs}
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
    ports:
      - "5433:5432"
    networks:
      - web-network
    volumes:
      - postgres-data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2025-01-18T00-31-37Z
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-user}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-password}
    volumes:
      - minio-storage:/data
    networks:
      - web-network

  spring:
    build:
      context: .
      dockerfile: Dockerfile-smeshariki
    ports:
      - "8081:8081"
    networks:
      - web-network
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-local}
      SERVER_PORT: ${SERVER_PORT:-8081}
      DB_URL: ${DB_URL:-jdbc:postgresql://postgres:5432/studs}
      DB_USERNAME: ${DB_USERNAME:-user}
      DB_PASSWORD: ${DB_PASSWORD:-password}
      DB_DRIVER: ${DB_DRIVER:-org.postgresql.Driver}
      MINIO_URL: ${MINIO_URL:-http://minio:9000}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-user}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-password}
      MINIO_BUCKET: ${MINIO_BUCKET:-images}
      MAIL_HOST: ${MAIL_HOST:-smtp.example.com}
      MAIL_PORT: ${MAIL_PORT:-465}
      MAIL_USERNAME: ${MAIL_USERNAME:-mail@example.com}
      MAIL_PASSWORD: ${MAIL_PASSWORD:-mail-password}
      MAIL_SSL_ENABLE: ${MAIL_SSL_ENABLE:-true}
      TOKEN_SIGNING_KEY: ${TOKEN_SIGNING_KEY:-BASE64_SIGNING_KEY}
      APP_CORS_ALLOWED_ORIGINS: ${APP_CORS_ALLOWED_ORIGINS:-http://localhost,http://localhost:4200,http://localhost:80}
    depends_on:
      - postgres
      - minio


networks:
  web-network:
    driver: bridge

volumes:
  postgres-data: { }
  minio-storage: { }
