server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: smeshariki-back
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  config:
    import:
      - optional:classpath:secret.yaml
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        type:
          preferred_enum_type: postgresql_enum
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
      platform: postgres

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true

app:
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:http://localhost,http://localhost:4200,http://localhost:80}
