spring:
  application:
    name: smeshariki-back
  config:
    import:
      secret.yaml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    url: jdbc:postgresql://postgres:5432/studs
    #    url: jdbc:postgresql://localhost:5433/studs
    driver-class-name: org.postgresql.Driver
