<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <springProperty scope="context"
                    name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="smeshariki-back"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level app=${APP_NAME} requestId=%X{requestId:-none} traceId=%X{traceId:-none} thread=%thread logger=%logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
